
.env
/lab
/volumes
/app/static/imgs
/.idea
/app/src/__pycache__
/app/src/extensions/__pycache__
/app/src/services/__pycache__
model training/kaggle machine learning/time_series/.ipynb_checkpoints/Elo Optmization-checkpoint.ipynb
